/*A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
*/
/* RESET STYLES */
*, html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, label, fieldset, input, p, blockquote, th, td { margin:0; padding:0 }
table { border-collapse:collapse; border-spacing:0 }
fieldset, img { border:0 }
address, caption, cite, code, dfn, em, strong, th, var { font-style:normal; font-weight:normal }
ol, ul, li { list-style:none }
caption, th { text-align:left }
h1, h2, h3, h4, h5, h6 {font-weight:normal;}
q:before, q:after { content:''}
strong { font-weight: bold }
em { font-style: italic }
.italic { font-style: italic }
.aligncenter { display:block; margin:0 auto; }
.alignleft { float:left; margin:10px; }
.alignright { float:right;margin:10px; }
.no-margin{margin:0px;}
.no-bottom{margin-bottom:0px;}
.no-padding{padding:0px;}
.margin-t{margin-top:25px;}
div { position:relative } 
a{color:#7FBA0A;text-decoration:none;}
a:hover{color:#7FBA0A;text-decoration:underline;}
a:active,a:focus{outline: none;}

*{ 
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

h1{font-size: 42px; line-height:42px;}
h2{font-size:36px;line-height:36px;}
h3{font-size:30px;line-height:30px;}
h4{font-size:24px;line-height:24px;}
h5{font-size:18px;line-height:18px;}
h6{font-size:12px;line-height:12px;}
h1, h2{margin-bottom:12px;text-transform: uppercase; font-family: 'Russo One', sans-serif;color: rgb(224, 224, 223);

word-spacing: 11px;}
h3, h4, h5, h6{margin-bottom:6px;}
p{margin-bottom:12px;font-family:Arial, Helvetica, sans-serif;	text-transform: uppercase;font-family: 'Russo One', sans-serif;color:#fff;
word-spacing: 21px;	}
.column-clear{clear:both;}
.clear{overflow: hidden;}

html{background: rgb(214, 81, 81);  background-size:cover;}
body{font: 12px/1.5em Arial, Helvetica, sans-serif, "Arial Narrow";color:#646663;-webkit-font-smoothing: antialiased;-webkit-text-size-adjust: 100%; min-height:100%; background:none;}

.wrapper{

padding:20px 0;
	margin-top: 15%;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.title{text-align:center;}

/* ---------- TIMER ---------- */
ul#countdown{text-align:center;}
ul#countdown li {
	color:#fff;
	display: inline-block;
	margin:18px;
	width:100px;
	height:100px;
	text-align: center;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 4em;
	background:url('../images/timer-bg.png');
	background-repeat:repeat-x;
	padding-top: 17px;
 	/* Old browsers */
	-webkit-box-shadow: 1px 1px 4px rgba(50, 50, 50, 0.3);
	-moz-box-shadow:    1px 1px 4px rgba(50, 50, 50, 0.3);
	box-shadow:         1px 1px 4px rgba(50, 50, 50, 0.3);
}
ul#countdown li span {
  font-size: 42px;
  font-weight: bold;
  color: #fff;
  position: relative;
  text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

ul#countdown li p.timeRefDays,
ul#countdown li p.timeRefHours,
ul#countdown li p.timeRefMinutes,
ul#countdown li p.timeRefSeconds {
text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}
/*----copy-right----*/
.copy-right a{
	font-family: 'Russo One', sans-serif;
	font-size:12px;
	
	color:#999;
}
.copy-right a:hover{
	color:#fff;
	text-decoration:none;
	font-size:12px;
}
.copy-right p{
	font-size:12px;
	color:#fff;
	word-spacing:3px;
}
.copy-right{
	text-align: center;
}



